

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}} </alert>
    <form novalidate name="form" id="prestamo-form" role="form" ng-submit="form.$valid && ctrl.savePrestamo(currentPrestamo.id)">
        
        <div ng-messages="form.$error">
            <div ng-message="required">Llene los espacios especificados:</div>
        </div>
   
        <fieldset>            
            <input id="id" class="form-control" type="hidden" ng-model="currentPrestamo.id"/>
            <!-- idUsuario -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                <label for="usuario" class="col-md-4 control-label">Usuario</label>
                <div class="col-md-10">
                    <select id="usuario" name="usuario" ng-options="rc.id for rc in usuarios track by rc.id" class="form-control" type="text" ng-model="currentPrestamo.usuario" ></select>
                </div>
            <!-- tipoRecurso -->
                <label for="tipoRecurso" class="col-md-4 control-label">Tipo de Recurso</label>
                <div class="col-md-10">
                    <form action = ""> 
                    <select id="tipoRecurso" name="tipoRecurso" class="form-control" ng-model="currentPrestamo.tipoRecurso" ng-init="currentPrestamo.tipoRecurso" required>
                    <option selected> ---</option>
                    <option value="Video">Video</option>
                    <option value="Libro">Libro</option>
                    <option value="Sala">Sala</option>
                </select>
                    </form>
                </div>
            <!-- nombreRecurso -->
            <div>
                <label for="nombreRecurso" class="col-md-4 control-label">Recurso</label>
               <div class="col-md-10" ng-if= "currentPrestamo.tipoRecurso=='Video'">
                <select id="video" name="video" ng-options="rc.name for rc in videos track by rc.id" class="form-control" type="text" ng-model="currentPrestamo.recurso" ></select>
                </div>
                 <div class="col-md-10" ng-if="currentPrestamo.tipoRecurso=='Libro'">
                 <select id="libro" name="libro" ng-options="rc.name for rc in libros track by rc.id" class="form-control" type="text" ng-model="currentPrestamo.recurso" ></select>
                </div>
                 <div class="col-md-10" ng-if="currentPrestamo.tipoRecurso=='Sala'">
                 <select id="sala" name="sala" ng-options="rc.name for rc in salas track by rc.id" class="form-control" type="text" ng-model="currentPrestamo.recurso" ></select>
                </div>
                <div class="col-md-10" ng-if="currentPrestamo.tipoRecurso!='Video' && currentPrestamo.tipoRecurso!='Libro'&& currentPrestamo.tipoRecurso!='Sala'">
                <input id ="nombreRecurso" name ="nombreRecurso" class="form-control" type="text" placeholder="Seleccione un tipo de recurso primero" disabled><br>
                </div>
            </div>
                
                <!-- costo -->
                <label for="costo" class="col-md-4 control-label">Costo</label>
                <div class="col-md-10">
                    <input id="costo" name="costo" class="form-control" type="number" ng-model="currentPrestamo.costo" ng-init="currentPrestamo.costo" required />
                </div>
                <!-- medioPago -->
                <label for="medioPago" class="col-md-4 control-label">Medio de pago</label>
                <div class="col-md-10">
                <select id="medioPago" name="medioPAgo" class="form-control" ng-model="currentPrestamo.medioPago" ng-init="currentPrestamo.medioPago" required>
                    <option selected> ---</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Tarjeta de credito">Tarjeta de credito</option>
                    <option value="Tarjeta de debito">Tarjeta de debito</option>
                </select>                
                </div>
            <!-- Fecha inicial -->
                <label for="fechaInicial" class="col-md-4 control-label">Fecha Inicial</label>
                <div class="col-md-10">
                    <p class="input-group">
                        <input  id="fechaInicial" name="fechaInicial"  type="text" class="form-control" uib-datepicker-popup ng-model="currentPrestamo.fechaInicial" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="ctrl.open(currentPrestamo.fechaFinal)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <!-- Fecha final -->

                <label for="fechaFinal" class="col-md-4 control-label">Fecha Final</label>
                <div class="col-md-10">
                    <p class="input-group">
                        <input  id="fechaFinal" name="fechaFinal"  type="text" class="form-control" uib-datepicker-popup ng-model="currentPrestamo.fechaFinal" is-open="popup2.opened" datepicker-options="dateOptions2" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="ctrl.open2(currentPrestamo.fechaInicial)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                
                <label for="estaActivo" class="col-md-4 control-label">¿Online?</label>
                <div class="col-md-9">
                    <input id="estaActivo" name="estaActivo" class="form-control" type="checkbox" ng-model="currentPrestamo.estaActivo" ng-init="currentPrestamo.estaActivo" novalidate />
                </div>
           <!-- Editorial 
                <label for="editorial" class="col-md-2 control-label">Editorial</label>
                <div class="col-md-10">
                    <select id="editorial" name="editorial" ng-options="rc.name for rc in editorials track by rc.id" class="form-control" type="text" ng-model="currentPrestamo.editorial" ></select>
                </div>-->
            </div>
        </fieldset>
        <div class="form-group col-md-12">
                <button type="button" ui-sref='prestamosBiblioList'>Cancel</button>
                <button type="submit" >Save</button>   
            </div>
    </form>

