    <div class="col-md-6 well">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}} </alert>
    <form novalidate name="form" id="sala-form" role="form" ng-submit="form.$valid && ctrl.saveSala(currentSala.id)">
        
        <div ng-messages="form.$error">
            <div ng-message="required">Llene los espacios especificados:</div>
        </div>
   
        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentSala.id"/>
            <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                <label for="name" class="col-md-3 control-label">Nombre de la sala</label>
                <div class="col-md-9">
                    <input id="name" name="name" class="form-control" type="text" ng-model="currentSala.name" ng-init="currentSala.name" required />
                </div>
                
                <label for="idBiblioteca" class="col-md-3 control-label">Id Biblioteca</label>
                <div class="col-md-9">
                    <input id="idBiblioteca" name="idBiblioteca" class="form-control" type="number" ng-model="currentSala.idBiblioteca" ng-init="currentSala.idBiblioteca" required />
                </div>
               
                <label for="capacidad" class="col-md-3 control-label">Capacidad</label>
                <div class="col-md-9">
                    <input id="capacidad" name="capacidad" class="form-control" type="number" ng-model="currentSala.capacidad" ng-init="currentSala.capacidad" required />
                </div>
           
                
            </div>
            <button type="button" data-ui-sref='salasList'>Cancelar</button>
            <button type="submit" >Agregar</button>    
        </fieldset>
    </form>
</div>
