<div class="container-fluid" >
    <table class="table table-striped" class="col-md-4">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Nombre</th>
                <th>Autor</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="blog in blogs">
                <td id="{{$index}}-titulo">{{libro.titulo}}</td>
                <td id="{{$index}}-nombre">{{libro.nombre}}</td>
                <td id="{{$index}}-autor">{{libro.Autor}}</td>
                <td>
                    <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="libroEdit({BlogId: blog.id})"><span class="glyphicon glyphicon-edit"></span> Editar</button>
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteBlog({BlogId: blog.id})"><span class="glyphicon glyphicon-minus"></span> Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
