<div class="col-md-6 well">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}} </alert>
    <form novalidate name="form" id="usuario-form" role="form" ng-submit="form.$valid && ctrl.saveUsuario(currentUsuario.id)">
        
        <div ng-messages="form.$error">
            <div ng-message="required">Fill the required fields!</div>
        </div>
   
        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentUsuario.id"/>
            <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                <label for="nombre" class="col-md-2 control-label">Nombre</label>
                <div class="col-md-10">
                    <input id="nombre" name="nombre" class="form-control" type="text" ng-model="currentUsuario.nombre" ng-init="currentUsuario.nombre" required />
                </div>
                <label for="apellido" class="col-md-2 control-label">Apellido</label>
                <div class="col-md-10">
                    <input id="apellido" name="apellido" class="form-control" type="text" ng-model="currentUsuario.apellido" ng-init="currentUsuario.apellido" required />
                </div>
                <label for="name" class="col-md-2 control-label">Login</label>
                <div class="col-md-10">
                    <input id="login" name="login" class="form-control" type="text" ng-model="currentUsuario.login" ng-init="currentUsuario.login" required />
                </div>
                <label for="contrasenha" class="col-md-2 control-label">Contraseña</label>
                <div class="col-md-10">
                    <input id="contrasenha" name="contrasenha" class="form-control" type="password" ng-model="currentUsuario.contrasenha" ng-init="currentUsuario.contrasenha" required />
                </div>
                <label for="direccion" class="col-md-2 control-label">Direccion</label>
                <div class="col-md-10">
                    <input id="direction" name="direccion" class="form-control" type="text" ng-model="currentUsuario.direccion" ng-init="currentUsuario.direccion" required />
                </div>
                
            </div>
            <button type="button" ui-sref='usuariosList'>Cancel</button>
            <button type="submit" >Save</button>    
        </fieldset>
    </form>
</div>