<div class="container-fluid">
    <table class="table table-striped col-md-4">
        <thead>
            <tr>
                <th>IdUsuario</th>
                <th>IdBiblioteca</th>
                <th>IdRecurso</th>
                <th>Esta Activa</th>
                
            </tr>
        </thead>
        <tbody>
             <tr ng-repeat="reserva in reservas">
                <td id="{{$index}}-idUsuario">{{reserva.idUsuario}}</td>
                <td id="{{$index}}-idBiblioteca">{{reserva.idBiblioteca}}</td>
                <td id="{{$index}}-idRecurso">{{reserva.idRecurso}}</td>
                <td id="{{$index}}-estaA">{{reserva.estaA}}</td>
                
                <td>
                    <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" data-ui-sref="reservaEdit({reservaId: reserva.id})"><span class="glyphicon glyphicon-edit"></span> Editar</button>
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteReserva({reservaId: reserva.id})"><span class="glyphicon glyphicon-minus"></span> Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
        
        
    
    
</div>